*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{

    background-image: url(../Images/background01.jpg);

}

.submitbtn {
  
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgb(236, 230, 230, 0);
    padding: 10px 30px 10px 30px;
    transition: ease-in-out 250ms;
    margin-left: 20px;
  }
  
.submitbtn:hover {
  
    cursor: pointer;
    background-color: black;
    color: white;
  
}